body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.shot-chart-court * {
  fill: transparent;
  stroke: black;
  stroke-width: 0.05;
}
.shot-chart-court-ft-circle-bottom {
  stroke-dasharray: 1.5, 1;
}
.shot-chart-court-hoop,
.shot-chart-court-backboard {
  z-index: 100;
}
.shot-chart-title {
  font-size: 15%;
  text-transform: uppercase;
}

#shotchart-page {
  text-align: center;
  padding-top: 50px;
}

.shotzone {
  stroke: black;
  fill-opacity: 0.7;
  stroke-width: 0.08;
  stroke-opacity: 1;
}

svg {
  display: block;
  margin: auto;
}

#shot-chart-legend rect {
  fill-opacity: 0.7;
}

.right-corner-three-zone-text,
.left-corner-three-zone-text {
  font-size: 0.05vw;
}

.team-select {
  display: inline-block;
  padding: 0px 15px;
}
